html {
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.canvas {
  z-index: 0;
}
